# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.cache
*.lock
*.ide
*.props
*.targets
*.v2
AbstractFactory/.vs/AbstractFactory/v16/.suo
AbstractFactory/obj/
AbstractFactory/bin/
AbstractFactory/.vs/
Adapter/Adapter/.vs/
Adapter/Adapter/Adapter/bin/
Adapter/Adapter/Adapter/obj/
Adapter/Adapter2/.vs/
Adapter/Adapter2/Adapter2/bin/
Adapter/Adapter2/Adapter2/obj/
Bridge/.vs/
Bridge/Bridge/bin/
Bridge/Bridge/obj/
Command/Command/Command/obj/
Command/Command/.vs/
Command/Command/Command/bin/
Decorator/Decorator/.vs/
Decorator/Decorator/Decorator/bin/
Decorator/Decorator/Decorator/obj/
Factory/.vs/
Factory/bin/
Factory/obj/
Fassade/.vs/
Fassade/Fassade/bin/
Fassade/Fassade/obj/
Iterator/.vs/
Iterator/Iterator/bin/
Iterator/Iterator/obj/
Mediator/Mediator/.vs/
Mediator/Mediator/Mediator/.vs/
Mediator/Mediator/Mediator/bin/
Mediator/Mediator/Mediator/obj/
Observer/.vs/
Observer/Observer/bin/
Observer/Observer/obj/
Prototype/Prototype/.vs/
Prototype/Prototype/Prototype/bin/
Prototype/Prototype/Prototype/obj/
Singleton/.vs/
Singleton/bin/
Singleton/obj/
State/State/.vs/
State/State/State/bin/
State/State/State/obj/
Strategy/Strategy/.vs/
Strategy/Strategy/Strategy/obj/
Strategy/Strategy/Strategy/bin/
Strategy/Strategy2/.vs/
Strategy/Strategy2/Strategy2/bin/
Strategy/Strategy2/Strategy2/obj/
Strategy/Strategy3/.vs/
Strategy/Strategy3/Strategy2/.vs/
Strategy/Strategy3/Strategy2/bin/
Strategy/Strategy3/Strategy2/obj/
Template/obj/
Template/bin/
Template/.vs/
FactoryMethodLesson/Bad/Bad/obj/Debug/
FactoryMethodLesson/Good/Good/obj/Debug/
